* {
  box-sizing: border-box;
}

body{
    background-color: white;
}

.main{
    max-width: 1000px;
}

input{
    width: 100%;
}

ul{
   
    list-style:none;
    flex-wrap: wrap;
}


li{
   float: left;
    width: 50%;
}

.content{
    height: 400px;
    border: 1px solid #A1A3A6;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

p{
    text-align: left;
}

img{
    height: 80%;
    width: 80%;
}

.hidden{
    display: none;
}